:root {
  /* Coffee-toned complementary palette for Handlebars sections */
  --primary-600: hsl(23, 57%, 61%);
  --primary: hsl(23, 57%, 52%);
  --primary-400: hsl(23, 57%, 40%);
  --primary-300: hsl(23, 57%, 32%);
  --primary-200: hsl(23, 57%, 23%);
  --primary-100: hsla(23, 57%, 15%, 0.92);

  --primary-box-shadow: hsla(23, 57%, 21%, 0.46);

  --accent: hsl(35, 30%, 19%);
  --accent-light: hsl(35, 30%, 30%);

  --text: hsl(35, 10%, 93%);
  --text-dim: hsla(35, 10%, 93%, 0.7);
  --text-dimer: hsla(35, 10%, 93%, 0.55);
  --text-inverse: hsl(23, 20%, 12%);
  --clr-single-code: #efa6a2;

  --bkg-100: hsl(23, 20%, 10%);
  --bkg-101: hsl(23, 20%, 12%);
  --bkg-150: hsl(23, 20%, 15%);
  --bkg-200: hsl(23, 20%, 22%);
  --bkg-500: hsl(23, 20%, 46%);

  /* Typography */
  --ff-base: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --ff-heading:
    Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
    "Georgia Pro", Georgia, serif;
  --ff-code:
    "JetBrains Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;

  --fz-h1: 1.875rem;
  --fz-h2: 2.125rem;
  --fz-h3: 1.5rem;
  --fz-filepath: 1.3125rem;
  --fz-base: 1.25rem;
  --fz-s: 1rem;

  --fw-normal: 400;
  --fw-bold: 500;
  --fw-bold-s: 700;

  --lh-base: 1.5;
  --lh-heading: 1.2;

  /* Spacing */
  --spacing-xs: 0.1875rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-ml: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;

  /* Radiuses */
  --border-radius-small: 3px;
  --border-radius: 9px;

  /* Transitions */
  --trs-xs: 190ms cubic-bezier(0.539, 1, 0.68, 1);
  --trs-s: 270ms cubic-bezier(0.539, 1, 0.68, 1);
  --trs-in: 630ms cubic-bezier(0.33, 0, 0.819, 0.253);
  --trs-theme: 350ms cubic-bezier(0.531, 0.226, 0.941, 0.049);

  /* Delays */
  --del-s: 140ms;

  @media only screen and (max-width: 550px) {
    /* Typography */
    --fz-h1: 1.25rem;
    --fz-h2: 1.4375rem;
    --fz-h3: 1rem;
    --fz-filepath: 0.875rem;
    --fz-base: 0.875rem;
    --fz-s: 0.6875rem;
    /* Spacing */
    --spacing-xs: 0.125rem;
    --spacing-s: 0.3125rem;
    --spacing-m: 0.6875rem;
    --spacing-ml: 1rem;
    --spacing-l: 1.375rem;
    --spacing-xl: 2rem;
  }

  @media only screen and (max-width: 350px) {
    /* Typography */
    --fz-h1: 0.9375rem;
    --fz-h2: 1.0625rem;
    --fz-h3: 0.75rem;
    --fz-filepath: 0.625;
    --fz-base: 0.625rem;
    --fz-s: 0.5rem;
    /* Spacing */
    --spacing-xs: 0.125rem;
    --spacing-s: 0.25rem;
    --spacing-m: 0.5rem;
    --spacing-ml: 0.75rem;
    --spacing-l: 1rem;
    --spacing-xl: 1.5rem;
  }
}

.nunjucks-theme {
  --primary-600: hsl(120, 39%, 61%);
  --primary: hsl(120, 39%, 52%);
  --primary-400: hsl(120, 39%, 40%);
  --primary-300: hsl(120, 39%, 32%);
  --primary-200: hsl(120, 39%, 23%);
  --primary-100: hsl(120, 39%, 13%);

  --primary-box-shadow: hsla(120, 39%, 21%, 0.46);

  --accent: hsl(104, 28%, 19%);
  --accent-light: hsl(104, 28%, 30%);

  --text: hsl(104, 10%, 91%);
  --text-dim: hsla(104, 10%, 91%, 0.7);
  --text-inverse: hsl(120, 20%, 12%);

  --clr-single-code: #a2efa6;

  --bkg-100: hsl(120, 20%, 10%);
  --bkg-101: hsl(120, 20%, 12%);
  --bkg-150: hsl(120, 20%, 13%);
  --bkg-200: hsl(120, 20%, 22%);
  --bkg-500: hsl(120, 20%, 46%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100dvh;
  font-family: var(--ff-base);
  font-size: var(--fz-base);
  line-height: var(--lh-base);
  --body-max-width: 90ch;
  background-color: var(--bkg-100);
  color: var(--text);
}

body {
  transition:
    background-color var(--trs-theme),
    color var(--trs-theme);
}

.main-content {
  transition: background-color var(--trs-theme);
}

.horizontal-separator {
  height: 5px;
  background-image: linear-gradient(
    to right,
    var(--njk-primary),
    var(--njk-accent)
  );
  border-radius: var(--border-radius);
  margin-block: var(--spacing-l);
}

::selection {
  background-color: var(--bkg-500);
  color: var(--text-inverse);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading);
  margin: 0;
}

h1 {
  font-size: var(--fz-h1);
  text-align: center;
}

hr {
  border-color: var(--bkg-100);
  border-width: 3px;
  border-radius: 100vw;
  margin-block: var(--spacing-xl);

  &.first {
    margin-block: var(--spacing-ml);
    opacity: 0.67;
  }

  &.last {
    margin-block: var(--spacing-m) var(--spacing-l);
    opacity: 0.33;
  }
}

a {
  color: var(--primary-600);
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--primary);
  outline: none;
}

code {
  padding: var(--spacing-xs);
  font-family: var(--ff-code);
  font-weight: 500;
  color: var(--clr-single-code);
  background-color: var(--bkg-100);
  border-radius: var(--border-radius-small);
  transition: color var(--trs-theme);
}

pre {
  max-width: var(--body-max-width);
  margin-block: var(--spacing-m);
  background-image: linear-gradient(
    var(--bkg-101),
    var(--bkg-150),
    var(--bkg-101)
  );
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
  overflow-x: auto;
  position: relative;
}

pre code {
  background-color: transparent;
  padding: 0;
  color: var(--text-dim);
  box-shadow:
    0 3px 5px -1px #030303cc,
    0 -3px 5px -2px #030303bd,
    0 0 16px -3px #030303c3;
}

.main-wrapper {
  max-width: calc(
    var(--sidebar-width--height) + var(--spacing-m) + var(--body-max-width)
  );
  margin-inline: auto;
}

.main-grid {
  --sidebar-width--height: 300px;

  display: grid;
  grid-template-columns: var(--sidebar-width--height) 1fr;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
  height: 100vh;
  transition: grid-template-rows var(--trs-in);
}

/* Firefox only :P */
@supports not selector(::-webkit-scrollbar-thumb) {
  .sidebar,
  .main-content,
  pre code {
    scrollbar-width: auto;
    scrollbar-color: var(--accent) var(--bkg-100);
  }
}

/* Webkit/Chromium architecture */
.sidebar::-webkit-scrollbar,
.main-content::-webkit-scrollbar,
pre code::-webkit-scrollbar {
  width: 16px;
}

.sidebar::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track,
pre code::-webkit-scrollbar-track {
  background: var(--bkg-100);
}

.sidebar::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb,
pre code::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
  border: 3px solid var(--bkg-100);
}

.sidebar::-webkit-scrollbar-thumb:hover,
.main-content::-webkit-scrollbar-thumb:hover,
pre code::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-light);
}

.sidebar::-webkit-scrollbar-thumb:active,
.main-content::-webkit-scrollbar-thumb:active,
pre code::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-300);
}
